
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grave Mistake Games</title>
    <link rel="shortcut icon" href="/static/media/images/favicon.ico">
    <link href="https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/styles.css">
</head>
<body>
    <!-- Welcome Section -->
    <div class="section welcome-section" id="welcome-section">
        <div class="container">
            <img src="/static/media/images/banner.jpg" id="welcome-banner" alt="Grave Mistake Games">
            <div class="scroll-text" id="scroll-to-about">Coming Soon...</div>
        </div>
    </div>

    <!-- Social Bar -->
    <div class="social-bar">
        <a href="https://twitter.com/GraveMgames" target="_blank"><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/gaming/GraveMistakeGames" target="_blank"><i class="fab fa-facebook-f"></i></a>
        <a href="https://www.linkedin.com/company/grave-mistake-games/" target="_blank"><i class="fab fa-linkedin"></i></a>
    </div>

    <!-- Floating Widget -->
    <div class="floating-widget">
        <img src="/static/media/images/festivalfeverwhite.png" alt="Game Logo">
        <a href="https://store.steampowered.com/app/1849940/Festival_Fever/" class="steam-wishlist-button" target="_blank">
            <i class="fab fa-steam"></i> Wishlist Festival Fever!
        </a>
    </div>

    <!-- Footer -->
    <footer>
        <div class="footer-content">
            <p>Created by Hapiuk | &copy; 2024 Grave Mistake Games</p>
        </div>
    </footer>

    <!-- Scripts -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    <script src="/static/js/scripts.js"></script>
</body>
</html>