<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Grave Mistake Games</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
    <link rel="stylesheet" href="/static/css/dashboard.css">
</head>
<body>
    <!-- Navbar -->
    <div class="navbar" id="navbar">
        <nav>
            <img src="{{ url_for('static', filename='media/images/banner_logo.jpg') }}" id="welcome-banner" alt="Grave Mistake Games">
            <div class="nav-right">
                <a href="#">Dashboard</a> |
                <a href="{{ url_for('logout') }}">Logout</a>
            </div>
        </nav>
    </div>

    <!-- Dashboard Content -->
    <div class="container mt-5">
        <div class="row">
            <!-- Create Post Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-primary btn-block dashboard-button" data-toggle="modal" data-target="#createPostModal" data-toggle="tooltip" title="Create a new post">
                    <i class="fas fa-plus-circle"></i><br>
                </button>
            </div>

            <!-- View & Edit Posts Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-warning btn-block dashboard-button" data-toggle="modal" data-target="#viewEditPostsModal" data-toggle="tooltip" title="View and edit existing posts">
                    <i class="fas fa-edit"></i><br>
                </button>
            </div>

            <!-- Settings Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-primary btn-block dashboard-button" data-toggle="modal" data-target="#settingsModal" data-toggle="tooltip" title="Manage site settings">
                    <i class="fas fa-cogs"></i><br>
                </button>
            </div>

            <!-- Edit About Us Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-info btn-block dashboard-button" data-toggle="modal" data-target="#editAboutUsModal" data-toggle="tooltip" title="Edit About Us section content">
                    <i class="fas fa-info-circle"></i><br>
                </button>
            </div>

            <!-- Edit Movie Section Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-info btn-block dashboard-button" data-toggle="modal" data-target="#editMovieSectionModal" data-toggle="tooltip" title="Edit movie section video">
                    <i class="fas fa-video"></i><br>
                </button>
            </div>

            <!-- Edit Game Section 2 Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-info btn-block dashboard-button" data-toggle="modal" data-target="#editGameSection2Modal" data-toggle="tooltip" title="Edit game section 2 content">
                    <i class="fas fa-images"></i><br>
                </button>
            </div>

            <!-- Edit Game Section 3 Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-info btn-block dashboard-button" data-toggle="modal" data-target="#editGameSection3Modal" data-toggle="tooltip" title="Edit game section 3 content">
                    <i class="fas fa-images"></i><br>
                </button>
            </div>

            <!-- Edit Game Section 4 Button -->
            <div class="col-md-4 mb-4">
                <button type="button" class="btn btn-info btn-block dashboard-button" data-toggle="modal" data-target="#editGameSection4Modal" data-toggle="tooltip" title="Edit game section 4 content">
                    <i class="fas fa-images"></i><br>
                </button>
            </div>

            <!-- Website Stats Button -->
            <div class="col-lg-4 col-md-6 mb-4">
                <div type="button" class="btn btn-info btn-block dashboard-button" data-toggle="modal" id="website-stats-btn" title="Website Stats">
                    <i class="fas fa-chart-line"></i>
                </div>
            </div>
        </div>
    </div>

    <!-- Modals -->

    <!-- Settings Modal -->
    <div class="modal fade" id="settingsModal" tabindex="-1" role="dialog" aria-labelledby="settingsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="settingsModalLabel">Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <button type="button" class="btn btn-info btn-block" data-toggle="modal" data-target="#emailSettingsModal" data-dismiss="modal">
                            Email Settings
                        </button>
                    </div>
                    <!-- Add more settings options here as needed -->
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

    <!-- Email Settings Modal -->
    <div class="modal fade" id="emailSettingsModal" tabindex="-1" role="dialog" aria-labelledby="emailSettingsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="emailSettingsModalLabel">Email Settings</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form method="POST" action="{{ url_for('settings') }}">
                        {{ email_settings_form.hidden_tag() }} <!-- CSRF token for email settings form -->
                        <div class="form-group">
                            {{ email_settings_form.mail_server.label(class="form-control-label") }}
                            {{ email_settings_form.mail_server(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.mail_port.label(class="form-control-label") }}
                            {{ email_settings_form.mail_port(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.mail_username.label(class="form-control-label") }}
                            {{ email_settings_form.mail_username(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.mail_password.label(class="form-control-label") }}
                            {{ email_settings_form.mail_password(class="form-control", type="password") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.mail_use_tls.label(class="form-control-label") }}
                            {{ email_settings_form.mail_use_tls(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.mail_use_ssl.label(class="form-control-label") }}
                            {{ email_settings_form.mail_use_ssl(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.default_sender_name.label(class="form-control-label") }}
                            {{ email_settings_form.default_sender_name(class="form-control") }}
                        </div>
                        <div class="form-group">
                            {{ email_settings_form.default_sender_email.label(class="form-control-label") }}
                            {{ email_settings_form.default_sender_email(class="form-control") }}
                        </div>
                        <button type="submit" class="btn btn-primary">Save Settings</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!-- Create Post Modal -->
<div class="modal fade" id="createPostModal" tabindex="-1" role="dialog" aria-labelledby="createPostModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form method="POST" action="{{ url_for('create_post') }}" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <div class="modal-header">
                    <h5 class="modal-title" id="createPostModalLabel">Create New Post</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="title">Title</label>
                        {{ form.title(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="content">Content</label>
                        {{ form.content(class="form-control") }}
                    </div>
                    <div class="form-group">
                        <label for="media_files">Upload Media (Max 3 Images or 1 Video)</label>
                        <input type="file" class="form-control-file" id="media_files" name="media_files" multiple>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Create Post</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



    <!-- View & Edit Posts Modal -->
    <div class="modal fade" id="viewEditPostsModal" tabindex="-1" role="dialog" aria-labelledby="viewEditPostsModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="postEditModalLabel">Edit Posts</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <ul class="list-group">
                        {% for post in posts %}
                        <li class="list-group-item bg-dark">
                            <h5>{{ post.title }}</h5>
                            <p><small>By {{ post.author }} on {{ post.date_posted.strftime('%Y-%m-%d %H:%M:%S') }}</small></p>
                            <p>{{ post.content }}</p>
                            <div class="media-content">
                                {% for media in post.media %}
                                    {% if media.media_type == 'image' %}
                                        <img src="{{ url_for('uploaded_file', filename=media.media_url.split('/')[-1]) }}" class="post-image img-thumbnail" alt="Post Image">
                                    {% elif media.media_type == 'video' %}
                                        <video controls class="post-video">
                                            <source src="{{ url_for('uploaded_file', filename=media.media_url.split('/')[-1]) }}" type="video/mp4">
                                            Your browser does not support the video tag.
                                        </video>
                                    {% endif %}
                                {% endfor %}
                            </div>
                            <form method="POST" action="{{ url_for('edit_post', post_id=post.id) }}">
                                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                                <div class="form-group mt-3">
                                    <label for="title-{{ post.id }}">Edit Title</label>
                                    <input type="text" class="form-control" id="title-{{ post.id }}" name="title" value="{{ post.title }}">
                                </div>
                                <div class="form-group">
                                    <label for="content-{{ post.id }}">Edit Content</label>
                                    <textarea class="form-control" id="content-{{ post.id }}" name="content" rows="4">{{ post.content }}</textarea>
                                </div>
                                <button type="submit" class="btn btn-warning">Update Post</button>
                                <button type="button" class="btn btn-danger delete-post" data-post-id="{{ post.id }}">Delete Post</button>
                            </form>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

<!-- Edit About Us Modal -->
<div class="modal fade" id="editAboutUsModal" tabindex="-1" role="dialog" aria-labelledby="editAboutUsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="edit-about-us-form" method="POST" action="{{ url_for('edit_about_us') }}" enctype="multipart/form-data">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="editAboutUsModalLabel">Edit "About Us" Section</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    <div class="form-group">
                        <label for="about_image">Current Image</label>
                        <img src="{{ about_us_content.image_url }}" alt="About Image" class="img-fluid mb-3" id="current-about_image">
                        <input type="file" class="form-control-file d-none" id="about_image" name="about_image">
                    </div>
                    <div class="form-group">
                        <label for="about_text">Text Content</label>
                        <textarea class="form-control" id="about_text" name="about_text" rows="4" readonly>{{ about_us_content.text }}</textarea>
                    </div>
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="edit-about-us-btn">Edit</button>
                    <button type="submit" class="btn btn-primary d-none" id="save-about-us-btn">Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Edit Movie Section (Video) Modal -->
<div class="modal fade" id="editMovieSectionModal" tabindex="-1" role="dialog" aria-labelledby="editMovieSectionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <form id="edit-movie-section-form" method="POST" action="{{ url_for('edit_movie_section') }}" enctype="multipart/form-data">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="editMovieSectionModalLabel">Edit Movie Section (Video)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    {% if movie_section %}
                        <div class="form-group">
                            <label for="movie_video">Current Video</label>
                            <div class="movie-preview-container" id="current-movie_video">
                                <video id="dashboard-trailer-video" src="{{ movie_section.video_url }}" controls class="w-100 mb-3 trailer-video"></video>
                            </div>
                            <input type="file" class="form-control-file d-none" id="movie_video" name="movie_video">
                        </div>
                    {% else %}
                        <p>No video currently available for this section.</p>
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="edit-movie-section-btn">Edit</button>
                    <button type="submit" class="btn btn-primary d-none" id="save-movie-section-btn">Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Edit Game Section 2 Modal -->
<div class="modal fade" id="editGameSection2Modal" tabindex="-1" role="dialog" aria-labelledby="editGameSection2ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="edit-game-section-2-form" method="POST" action="{{ url_for('edit_game_section', section_id=2) }}" enctype="multipart/form-data">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">  
                <div class="modal-header">
                    <h5 class="modal-title" id="editGameSection2ModalLabel">Edit Game Section 2</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    {% if game_section_2 %}
                        <div class="form-group">
                            <label for="section_header_image_2">Header Image</label>
                            <img src="{{ game_section_2.header_image_url }}" class="img-fluid mb-3" id="current-section_header_image_2">
                            <input type="file" class="form-control-file d-none" id="section_header_image_2" name="section_header_image">
                        </div>
                        
                        <div class="form-group">
                            <label for="section_summary_text_2">Summary Text</label>
                            <textarea class="form-control" id="section_summary_text_2" name="section_summary_text" rows="4" readonly>{{ game_section_2.summary_text }}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="section_gallery_2">Gallery</label>
                            <div class="media-content" id="current-section_gallery_2">
                                {% for media in game_section_2.gallery %}
                                    <img src="{{ media.media_url }}" class="post-image img-thumbnail" alt="Gallery Image">
                                {% endfor %}
                            </div>
                            <input type="file" class="form-control-file d-none" id="section_gallery_2" name="section_gallery" multiple>
                        </div>
                    {% else %}
                        <p>No content available for this section.</p>
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="edit-game-section-2-btn">Edit</button>
                    <button type="submit" class="btn btn-primary d-none" id="save-game-section-2-btn">Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Edit Game Section 3 Modal -->
<div class="modal fade" id="editGameSection3Modal" tabindex="-1" role="dialog" aria-labelledby="editGameSection3ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="edit-game-section-3-form" method="POST" action="{{ url_for('edit_game_section', section_id=3) }}" enctype="multipart/form-data">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="editGameSection3ModalLabel">Edit Game Section 3</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    {% if game_section_3 %}
                        <div class="form-group">
                            <label for="section_header_image_3">Header Image</label>
                            <img src="{{ game_section_3.header_image_url }}" class="img-fluid mb-3" id="current-section_header_image_3">
                            <input type="file" class="form-control-file d-none" id="section_header_image_3" name="section_header_image">
                        </div>
                        
                        <div class="form-group">
                            <label for="section_summary_text_3">Summary Text</label>
                            <textarea class="form-control" id="section_summary_text_3" name="section_summary_text" rows="4" readonly>{{ game_section_3.summary_text }}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="section_gallery_3">Gallery</label>
                            <div class="media-content" id="current-section_gallery_3">
                                {% for media in game_section_3.gallery %}
                                    <img src="{{ media.media_url }}" class="post-image img-thumbnail" alt="Gallery Image">
                                {% endfor %}
                            </div>
                            <input type="file" class="form-control-file d-none" id="section_gallery_3" name="section_gallery" multiple>
                        </div>
                    {% else %}
                        <p>No content available for this section.</p>
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="edit-game-section-3-btn">Edit</button>
                    <button type="submit" class="btn btn-primary d-none" id="save-game-section-3-btn">Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Edit Game Section 4 Modal -->
<div class="modal fade" id="editGameSection4Modal" tabindex="-1" role="dialog" aria-labelledby="editGameSection4ModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="edit-game-section-4-form" method="POST" action="{{ url_for('edit_game_section', section_id=4) }}" enctype="multipart/form-data">
                <input name="csrf_token" type="hidden" value="{{ csrf_token() }}">
                
                <div class="modal-header">
                    <h5 class="modal-title" id="editGameSection4ModalLabel">Edit Game Section 4</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                
                <div class="modal-body">
                    {% if game_section_4 %}
                        <div class="form-group">
                            <label for="section_header_image_4">Header Image</label>
                            <img src="{{ game_section_4.header_image_url }}" class="img-fluid mb-3" id="current-section_header_image_4">
                            <input type="file" class="form-control-file d-none" id="section_header_image_4" name="section_header_image">
                        </div>
                        
                        <div class="form-group">
                            <label for="section_summary_text_4">Summary Text</label>
                            <textarea class="form-control" id="section_summary_text_4" name="section_summary_text" rows="4" readonly>{{ game_section_4.summary_text }}</textarea>
                        </div>
                        
                        <div class="form-group">
                            <label for="section_gallery_4">Gallery</label>
                            <div class="media-content" id="current-section_gallery_4">
                                {% for media in game_section_4.gallery %}
                                    <img src="{{ media.media_url }}" class="post-image img-thumbnail" alt="Gallery Image">
                                {% endfor %}
                            </div>
                            <input type="file" class="form-control-file d-none" id="section_gallery_4" name="section_gallery" multiple>
                        </div>
                    {% else %}
                        <p>No content available for this section.</p>
                    {% endif %}
                </div>
                
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" id="edit-game-section-4-btn">Edit</button>
                    <button type="submit" class="btn btn-primary d-none" id="save-game-section-4-btn">Save Changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Website Stats Modal -->
<div class="modal fade" id="websiteStatsModal" tabindex="-1" aria-labelledby="websiteStatsModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="websiteStatsModalLabel">Website Stats</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Total Wishlist Button Clicks: <span id="wishlist-clicks">0</span></p>
                <canvas id="clicksByCountryChart" width="400" height="200"></canvas>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>





    <!-- Scripts -->
    <!-- Ensure jQuery is loaded first -->
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    
    <!-- Then load your custom JS file -->
    <script src="/static/js/dashboard.js"></script>

</body>
</html>
